[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/

*.csproj
*.csproj.meta
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

*.vs/
*.vsconfig
*.editorconfig
.idea/
.vscode/

# Unity 工程目录下的通用忽略内容
*MemoryCaptures/
*UserSettings/

# HybridCLR 通用忽略内容
*HybridCLRData/

*Assets/HybridCLRGenerate/
*Assets/HybridCLRGenerate.meta

Release-Win32/
Release-Android/

Assets/Extend/GameDll/

Assets/StreamingAssets/
Assets/StreamingAssets.meta

# 不要忽略logo.png相关的.meta文件
Assets/Resources/PerformanceTestRunInfo.json
Assets/Resources/PerformanceTestRunInfo.json.meta
Assets/Resources/PerformanceTestRunSetting.json
Assets/Resources/PerformanceTestRunSetting.json.meta

UserInterfaceState.xcuserstate

ServerData/
addressables_content_state.bin
addressables_content_state.bin.meta

ProjectSettings/Packages/com.unity.probuilder/Settings.json
ProjectSettings/Packages/com.unity.services.core/Settings.json
Builds/
